data/comparison_results.rds filter=lfs diff=lfs merge=lfs -text
browser_data_for_app/ASE.SNP.gallus.updated02.vcf filter=lfs diff=lfs merge=lfs -text
browser_data_for_app/genomeAnnotation_gallus.updated.gff filter=lfs diff=lfs merge=lfs -text
browser_data_for_app/genomeAnnoatation_gallus.updated.gff filter=lfs diff=lfs merge=lfs -text
